.InlineFlex {
    display: inline-flex;
    align-items: center;
    height: 120px;
    padding: 0 4px;
    background-color: indigo;
    text-decoration: none;
    border-radius: 3px;
    color: #ddd;
}

html,
body {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}

body {
    font-family: Oswald, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.MainContent {
    flex: 1 0 auto;
    color: #333;
    padding: 0.5rem;
}

.Footer {
    background-color: violet;
    padding: 0.5rem;
}
.FlexWrapper {
    background-color: indigo;
    display: flex;
    height: 150px;
    width: 400px;
    justify-content: space-around;
    /*align-items: center;*/
    /*justify-content: center;*/
}

.FlexItem {
    background-color: #34005b;
    display: flex;
    height: 60px;
    width: 25%;
    color: wheat;
    flex: 1;
}

.FlexItem2 {
    flex: 1.5 0 auto;
}
.AlignSelf {
    align-self: flex-end;
}